select {
  border: 1px solid var(--purple-300);
  background-color: var(--purple-100);
  color: var(--color-primary);
  padding: 0 0.2rem;
  min-height: 22px;
  font-size: 1rem;
  border-radius: 2px;
}